<h1>About</h1>

<p>Hi! I'm Robin Nilsson and this is my personal blog where I document my progress in learning Ruby on Rails.</p><br>

<p>It's a place where I put my thoughts down for myself but also a place where I can share said thoughts and difficulties in my journey.</p><br>

<p>I think this will be a great way for referencing future problems and provide others I decide to share this blog with an insight into where I am in my learning and from where I started as a complete newbie to developing web applications.</p><br>

<p>Contact:
	<ul>
		<a href="http://facebook.com/snokstyle">Facebook</a><br>
		Email: <a href="mailto:snokstyle@gmail.com">snokstyle@gmail.com</a><br>
		Skype: snokster
		</ul>